* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fonts */

@font-face {
    font-family: "proximaregular";
    src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
    font-family: "proximabold";
    src: url("../fonts/Proxima\ Nova\ Bold.otf");
}

@font-face {
    font-family: "proximaexbold";
    src: url("../fonts/Proxima\ Nova\ Extrabold.otf")
}

@font-face {
    font-family: "geomanist";
    src: url("../fonts/Geomanist-Regular.otf");
}

body {
    font-family: "proximaregular";
    overflow-x: hidden;
}


/* Header */

.navbar-nav .nav-item .nav-link {
    color: #b9b9b9 !important;
    font-size: 14px;
    font-family: "proximabold";
    margin-right: 40px;
    text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #009ada !important;
}

.navbar-toggler-icon {
    background-image: url("../images/menu.svg") !important;
}

.navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}

.innovative {
    color: #b9b9b9;
    font-size: 22px;
}

.new {
    color: #000;
    font-size: 90px;
    text-transform: uppercase;
    font-family: "proximaexbold";
}

.gte {
    color: #000;
    font-size: 90px;
    text-transform: uppercase;
    font-family: "proximaexbold";
}

.mission {
    color: #b9b9b9;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "proximabold";
}

.sideview {
    position: absolute;
    right: 0;
    top: -160px;
}

.button a {
    color: #fff;
    background-color: #009ada;
    padding: 25px 50px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    font-family: "proximabold";
    text-decoration: none;
}

.content {
    position: relative;
}

.m8_content {
    background-color: #f3f3f3;
    display: flex;
    padding: 200px 235px 150px 0;
}

.m8_content p {
    text-align: justify;
    font-size: 17px;
    color: #474747;
    font-family: "proximaregular";
}

.social {
    padding: 0 50px 0 50px;
    margin-top: -70px;
}

.social a i {
    color: #d4d4d4;
    margin-bottom: 40px;
}

.social a i:hover {
    color: #009ada;
}

.text::before {
    content: '';
    border: 5px solid #009ada;
    position: absolute;
    top: 0;
    width: 100%
}

.sideview img {
    width: 100%;
}

.ivision {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ivision_text {
    position: absolute;
}

.drive {
    color: #777777;
    font-size: 18px;
    font-weight: 600;
}

.vision,
.dynamic {
    color: #fff;
    font-size: 65px;
    font-family: "proximaexbold";
    text-transform: uppercase;
}

.para {
    color: #fff;
    font-family: "proximaregular";
    line-height: 2;
    padding-bottom: 40px;
}

.ivision-car {
    position: absolute;
    top: -100px;
    right: -45px;
}

.ivision-car img {
    width: 535px;
}

.backview {
    position: absolute;
    top: 165px;
    right: 210px;
}

.backview img {
    width: 350px;
}

.bmw_x7 {
    margin-top: 200px;
}

.x7 {
    text-align: center;
}

.x7_para {
    color: #B9B9B9;
    font-size: 18px;
    font-weight: 600;
}

.x7_title {
    color: #000000;
    font-size: 65px;
    font-family: "proximaexbold";
    text-transform: uppercase;
}

.bmw_x7 {
    background: url("../images/bmwx7_bg.png") no-repeat;
    background-size: cover;
    position: relative;
}

.bmwx7_text {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.bmwx7_text p {
    color: #777777;
    font-size: 20px;
    font-family: "proximaregular";
    padding-bottom: 40px;
}

.bmw8 {
    margin-top: 200px;
}

.bmw8_img {
    width: 100%;
}

.xzoom-thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xzoom-thumbs a {
    margin: 0 auto;
}

#xzoom-default {
    width: 100%;
}

.bmw8_content {
    text-align: right;
    background: url("../images/bmw8_bg.png") no-repeat;
    background-size: cover;
    background-position: top;
}

.modern {
    color: #B9B9B9;
    font-size: 18px;
    font-weight: 600;
}

.series,
.concept {
    color: #000000;
    font-size: 65px;
    font-family: "proximaexbold";
    text-transform: uppercase;
}

.bmw8_para {
    color: #777777;
    font-size: 20px;
    padding-bottom: 40px;
}

.thumbs img {
    width: 150px;
    position: relative;
}

.thumbs {
    position: absolute;
    top: 315px;
    left: 55px;
}

.bmwz4_car {
    margin-top: 200px;
}

.bmwz4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bmwz4_text {
    position: absolute;
}

.bmwz4_text .wheel {
    color: #777777;
    font-size: 18px;
    font-weight: 600;
}

.bmwz4_text h1 {
    color: #fff;
    font-size: 65px;
    font-family: "proximaexbold";
    text-transform: uppercase;
}

.bmwz4_para {
    color: #D4D4D4;
    font-family: "proximaregular";
    line-height: 2;
    padding-bottom: 40px;
}

.bmwz4_1 {
    position: absolute;
    top: 100px;
    margin-left: 180px;
}

.bmwz4_1 img {
    width: 300px;
}

.bmwz4_2 {
    position: absolute;
    right: 0;
    top: 50px;
}

.bmwz4_2 img {
    width: 410px;
}

.footer {
    margin-top: 200px;
    position: relative;
}

.footer_top {
    padding: 80px 50px 80px 140px;
    background-color: #f3f3f3;
    z-index: 1;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, .5);
}

.footer_top a {
    color: #b9b9b9;
    margin-right: 40px;
    text-decoration: none;
    font-family: "proximabold"
}

.footer_top a:hover,
.links a:hover,
.legal a:hover,
.website a:hover {
    color: #009ada;
}

.links a,
.legal a,
.website a,
.country div {
    color: #919191;
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    font-family: "geomanist";
}

.footer_bottom {
    padding: 80px 100px 80px 80px;
    background-color: #f2f2f2;
    right: 15px;
    position: absolute;
    z-index: -1;
}

.country p,
.links p,
.legal p,
.website p {
    color: #b9b9b9;
    margin-right: 60px;
    font-family: "geomanist";
    font-weight: 500;
    font-size: 14px;
}

.footer_logo {
    margin-left: 39px;
}

.copyright {
    color: #b9b9b9;
    font-family: "geomanist";
    font-size: 14px;
    position: absolute;
    margin-top: 340px;
    left: 210px;
}

.large-5 {
    text-align: center;
}


/* Media Queries */

@media screen and (max-width:767px) {
    .footer_top a {
        display: inherit;
        padding-bottom: 20px;
    }
    .copyright {
        margin-top: 700px !important;
        left: 30px !important;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .order-md-last {
        order: 0;
    }
    .copyright {
        margin-top: 600px !important;
        left: 30px !important;
    }
}

@media screen and (max-width:992px) {
    .bmw-car {
        display: none;
    }
}

.bmw-m8 {
    position: relative;
}

@media screen and (max-width:1400px) {
    .new,
    .gte {
        font-size: 80px !important;
    }
    .bmw-title-blk {
        padding-top: 70px !important;
    }
}

@media screen and (max-width:991px) {
    .bmw img {
        width: 100%;
    }
    .sideview {
        display: none;
    }
    .content {
        margin-top: 70px;
    }
    .bmw-title-blk {
        text-align: center;
    }
    .mission {
        padding-bottom: 40px;
    }
    .m8_content {
        padding: 100px 10px 100px 0 !important;
    }
    .backview {
        position: absolute;
        top: 140px !important;
        right: 0 !important;
    }
    .backview img {
        width: 185px !important;
    }
    .ivision-car img {
        width: 444px !important;
    }
    .bmw8_content {
        text-align: center !important;
    }
    .bmwz4 {
        text-align: center !important;
    }
    .country,
    .links,
    .legal {
        margin-bottom: 60px;
    }
    .country p,
    .links p,
    .legal p,
    .website p {
        margin-bottom: 0;
    }
    .country,
    .links,
    .legal {
        margin-bottom: 60px;
    }
    .bmwz4_1,
    .bmwz4_2 {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1300px) {
    .bmw img {
        width: 760px;
    }
}

@media screen and (min-width:1301px) and (max-width:1450px) {
    .bmw img {
        width: 850px;
    }
}

@media screen and (min-width:1451px) and (max-width:1600px) {
    .bmw img {
        width: 900px;
    }
}

@media screen and (min-width:992px) {
    .bmw {
        left: -15px;
    }
    .bmw-title-blk {
        text-align: right;
        left: -130px;
        z-index: 1;
    }
    .ivision img {
        width: 100%;
    }
    .para {
        width: 40%;
    }
    .ivision {
        left: -30px;
    }
    .bmw_x7 {
        right: -120px;
    }
    .bmwz4_para {
        width: 40%;
    }
    .bmwz4_text {
        top: 20px;
    }
    .country p,
    .links p,
    .legal p,
    .website p {
        width: 15%;
    }
    .country,
    .links,
    .legal,
    .website {
        display: flex;
    }
}

@media screen and (min-width:1201px) {
    .bmwz4 img {
        width: 100%;
    }
    .bmwz4 {
        right: -250px;
    }
}